.container{
    padding-top: 1%;
    padding-bottom: 1%;
}

.container .row{
    margin-top: 1%;
}

.buscador{
    background-color: white;
}

.buscador .row{
    align-items: center;
}
.buscador img{
    width: 10vh;
}
.empresa{
    background-color: white;
    min-height: 50vh;

    padding-top: 1%;
    padding-bottom: 1%;

}