@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  padding-top: 1%;
  padding-bottom: 1%;
}

.container .row{
  margin-top: 1%;
}

.buscador{
  background-color: white;
}

.buscador .row{
  align-items: center;
}
.buscador img{
  width: 10vh;
}
.empresa{
  background-color: white;
  min-height: 50vh;

  padding-top: 1%;
  padding-bottom: 1%;

}